* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.tavolo {
    width: 1000 vw;
    height: 800 vh;
    margin: 5%;
    background-color: coral;
}

.title {
    color: white;
    text-align: center;
    padding: 2% 0;
}

.giocatori {
    display: flex;
    justify-content: center;
    color: white;
}

.giocatore1 {
    width: 50%;
    text-align: center;
}

.giocatore2 {
    width: 50%;
    text-align: center;
}

.giocate {
    display: flex;
    justify-content: center;
    color: white;
}

#giocata1 {
    width: 50%;
    text-align: center;
}

#giocata2 {
    width: 50%;
    text-align: center;
}

.main-row {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    background-color: cornsilk;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
}
.button:hover {
    background-color: rgb(143, 140, 133);
}